/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 29, 2020, 2:26:24 AM
    Author     : fares
*/

body {
    background-color: #FFFFFF;
    font-size: large;
}
section.head1 {
    margin-top: 2.5%;
    margin-left: 1.6%;
    margin-bottom: 2.5%;
}
span.grey {
    background-color: #F7F7F8;
    padding: 5px;
    border-width: 100%;
    text-align: center;
    border-radius: 100px;
    position: relative;
    right: 20px;
    margin-right: 20px;

}

section.login {
    border-style: solid;
    border-color: #69728819;
    border-width: thick;
    box-shadow: #69728819;
    width: 50%;
    margin-top: 8%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 3%;
    background-color: #A0A0A0;
    position: relative;
    left: -2000px;
}

span.home-title{
    padding: 5px;
    border-width: 100%;
    text-align: center;
    border-radius: 100px;
    position: relative;
    margin-left: 47%;
    font-weight: bold;
    margin-right: 35%;
}

span.one{
    background-color: #F7F7F8;
    padding: 5px;
    border-width: 100%;
    text-align: center;
    border-radius: 100px;
    margin-left: 20px;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
}

span.one:hover{
    background-color: #A0A0A0;
    padding: 5px;
    border-width: 100%;
    text-align: center;
    border-radius: 100px;
    margin-left: 20px;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
}

span.two{
    background-color: #F7F7F8;
    padding: 5px;
    border-width: 100%;
    text-align: center;
    border-radius: 100px;
    position: relative;
    margin-left: 20px;
    font-size: medium;
    padding-left: 25px;
    padding-right: 25px;
}

span.two:hover{
    background-color: #A0A0A0;
    padding: 5px;
    border-width: 100%;
    text-align: center;
    border-radius: 100px;
    position: relative;
    margin-left: 20px;
    font-size: medium;
    padding-left: 25px;
    padding-right: 25px;
}

span.now{
    background-color: #000000;
    color: #FFFFFF;
}

p {
    margin-left: 20px;
    font-size: medium
}

form {
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px;

}

a {
    text-decoration: none;
    color: #000000;
}

span.form {
    background-color: #F7F7F8;
    padding: 5px;
    border-width: 100%;
    text-align: center;
    border-radius: 100px;
    position: relative;
}
